/*font*/
body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

/*new-year-celebration*/
.new-year {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 15px;
    font-weight: 400;
    padding-top: 220px;
    padding-bottom: 0px;
}

.Celebration {
    color: #FFF;
    text-align: center;
    justify-content: space-around;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: 0px;
}


.new-year-celebration {

    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    width: 1280px;
    height: 550px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

/*sale styles*/
.off {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.deals {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 0px;
}

.all {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.new-year-photo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-items: center;
    margin-bottom: 60px;
}

/*midnight party*/
.welcome-party-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    margin-left: 135px;
    margin-right: 498px;
}

.welcome-party-descri {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 135px;
    margin-right: 498px;
}

.Join-Now {
    color: #FFF;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 135px;
    margin-right: 498px;
}

.group70 {
    margin-left: 80px;
    margin-right: 200px;
    margin-top: 50px;
}

.welcome-party {
    display: flex;
    justify-content: space-between;
    background-image: url(../resources/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    margin-bottom: 60px;
}

/*place*/
.color {
    color: #F00;
}

.place {
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    background-position: center;
    margin-left: 95px;
    margin-right: 95px;
    padding-left: 385px;
    padding-right: 385px;
    padding-top: 100px;
}

.Join-button {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: #FFF;
    background: #F00;
    margin-bottom: 125px;
    margin-top: 65px;
}

.color-button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

/*Coming-Soon-text*/

.Coming-Soon {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.Coming-Soon-descri {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-top: 0px;
}


/*.Ellipse{
    border: 15px solid #F00;
    border-radius: 50%;
    width: 463px;
    height: 463px;
}*/

.Ellipse {
    border: 15px solid #F00;
    border-radius: 50%;
    padding: 20px;
    width: 463px;
    height: 463px;

}


.best-offer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coming-soon-text {
    margin-left: 95px;
}

.group96 {
    margin-right: 95px;
}

.color2024 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

/*holliday-text*/
.FUNCTIONAL {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    margin-top: 60px;
}

.Holidays-title {
    color: #070211;
    font-family: Merriweather;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    margin-top: 10px;
}

.holliday-descri {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;

}

/*gift-box*/

.fifty {
    margin-top: 80px;
    margin-right: 200px;
}

.discount50 {
    background-image: url(../resources/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 400px;
    margin-left: 109px;
    margin-bottom: 222px;

}

.full-gift-box {
    display: flex;
    justify-content: space-between;
    background-image: url(../resources/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;
}

/*portfolio*/
.gift {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.Our-Awesome-Portfolio {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.Our-Awesome-Portfolio-text {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding-top: 2px;
}

.portfolio-text {
    margin-left: 95px;
}

.pic1 {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.pic2 {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-top: 10px;
}

.picture {
    justify-content: space-between;
    margin-left: 95px;
    margin-right: 95px;
    margin-bottom: 60px;
}

/*newsletter*/
.Newsletter-icon {

    margin-left: 585px;
    margin-right: 585px;
    justify-content: center;
    margin-top: 50px;
}

.Newsletter {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.subtext {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

/*subscribe*/

.sub {

    background: rgba(255, 0, 0, 0.05);
    margin-left: 95px;
    margin-right: 95px;

}

.Subscribe-box {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    padding-bottom: 80px;
}


#mailbox{
    background-color: #FFF;
    border: #FFF;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}
.Subscribe-button {
    border-radius: 0px 50px 50px 0px;

}


.orange{
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border:white ;
}
.button-text {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-weight: 600;
    
}